body {
    background-color: #202020;
    font-family: 'Open Sans', sans-serif;
    line-height: 150%;
    word-wrap: break-word;
}

.container {
   position: absolute;
   top: 50%;
   left: 0;
   width: 100%;
}

.imgbox {
    width: 45%;
    position: absolute;
    top: 50%;
    margin-left: 8%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.textbox {
    color: white;
    width: 30%;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-right: 10%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.img {
  max-width:100%;
  max-height:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 10px #444444;
}

.initial {
  text-align: center;
  width: 40%;
  position: absolute;
  top: 50%;
  margin-left: 30%;
  color: white;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.botbar {
  font-size: 9px;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 25%;
  color: white;
}

.botbar a:link {
  color: #cccccc;
}

.botbar a:visited {
  color: #888888;
}

.botbar a:hover {
  color: #eeeeee;
}

.botbar a:active {
  color: #ffffff;
}

.button {
    background-color: #333333;
    border: none;
    color: #AAAAAA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 40%;
    font-size: 14px;
    border-radius: 4px;
}

.buttons {
  margin-top: 10%;
}

.button:hover {
    color: #EEEEEE;
}

#pgname {
  font-weight: bold;
}

#pname {
  font-style: italic;
}

#year {
  font-style: italic;
}
